$lightBlue: #30A9DE;
$veryLightBlue: #85DAFF;
$skyBlue: #38C3FF;

$dark: #1C6280;
$veryDark: #0E3140;

$contrastRed: #CC1836;
$salmon: #FF8578;
$pinky: #FF526E;

$oliveGreen: #CCC418;

$darkOrange: #B36104;
$lightOrange: #FFA338;