.footer {

    &__social {
        width:100%;
        @media screen and (min-width:570px) {
            width:50%;
        }

    }

    &__social-icons {
        width:100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
    }

    &__social-icon {
        list-style-type: none;
    }

    &__copyright {
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media screen and (min-width:570px) {
            width:50%;
            
        }

    }
    
}
.copy {
    display: flex;
    justify-content: center;
    background: #111;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}

.svg-inline--fa {
    margin: 20px;
    color: #333;
    transition: 0.5s;
    &:hover {
        color: $dark;
    }
}

// Animations

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: flip-horizontal-bottom 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    background: $veryDark;
    @extend %boxShadow;
    &:after {
        transform: rotateX(180deg);
    }
}

@-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
}

.flip-horizontal-back {
	-webkit-animation: flip-horizontal-back 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: flip-horizontal-back 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

@-webkit-keyframes flip-horizontal-back {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
}

@keyframes flip-horizontal-back {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
}